body {position: relative;padding-top: 50px;overflow: auto !important;}
.hs-nav{text-shadow:0 -1px 0 rgba(0,0,0,.15);box-shadow:0 1px 0 rgba(255,255,255,.1);color: #ceb6b8;background-color: #450915;background-image: url(../images/bg-1920x1200.jpg);}
.hs-nav .navbar-brand{color:#fff;}
.hs-nav .navbar-nav > li > a{color:#ceb6b8;}
.hs-nav .navbar-nav > li > a:hover{color:#fff;}
.hs-nav .navbar-nav > .active > a, .hs-nav .navbar-nav > .active > a:hover {color: #fff;background-color: #6B313B;background-color: rgba(255, 255, 255, 0.15);}
.hs-nav .navbar-toggle, .hs-nav .navbar-toggle:focus {border-color: #86555C;border-color: rgba(255, 255, 255, 0.3);
  background: transparent;}
.hs-nav .navbar-toggle:hover {background-color: #63303A;background-color: rgba(255, 255, 255, 0.15);border-color: transparent;}
.footer-links li{display:inline;padding:0 2px;}